# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.hcl
.terraform.lock.hcl
backend.tf


# Variables
*.tfvars
*.auto.tfvars

# AWS
.aws/

# Secrets
.env
.env.*

# IDE
.vscode/
.idea/

# Mac/Linux
.DS_Store
